<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SPU.Entities.Properties.Settings.SP_DataConnectionString"
            connectionString="Data Source=.;Initial Catalog=SP_Data;User ID=sa;Password=deemes"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>