<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="connStrName" connectionString="Data Source=.;Initial Catalog=SP_User;User ID=sa;Password=deemes" providerName="System.Data.SqlClient"/>
  <add name="connDataStrName" connectionString="Data Source=.;Initial Catalog=SP_Data;User ID=sa;Password=deemes" providerName="System.Data.SqlClient"/>
</connectionStrings>
