<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="connStr.config"/>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages theme="MyThemes"/>
    <authentication mode="Forms"/>
    
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="connStrName"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             passwordFormat="Hashed"  passwordStrengthRegularExpression="" applicationName="WEBPROJ" />
      </providers>
    </membership>
    
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="connStrName" applicationName="WEBPROJ"/>
      </providers>
      <properties>
        <add name="NIK" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false"/>
        <add name="Nama" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false"/>
        <add name="Alamat" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false"/>
        <add name="OrgID" type="System.String" serializeAs="String" allowAnonymous="false" defaultValue="" readOnly="false"/>
      </properties>
    </profile>
    
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="connStrName" applicationName="WEBPROJ"/>
      </providers>
    </roleManager>
    
    <siteMap enabled="true">
      <providers>
        <add name="SPU_Sitemap" siteMapFile="~/Web.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>    
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="itemPerPage" value="4"/>
  </appSettings>
</configuration>